body {
        background-color: #E2AC7F;
    font-family: Verdana;
    font-size:11px;
}
main{
    border: 4px dotted;
    /*margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 180px;
    margin-left: 180px;*/
    width: 488px;
    margin-left: auto;
    margin-right:auto;
    background-color: #F5F5DC;
}
h1{
    text-align:center;
    font-style:italic;
    font-family:Impact;
    border-bottom: 4px dotted;
    margin-top: 0px;
    font-size:28px;
}
ul{
    list-style-type: none;
    text-align:center;
    font-style:italic;
}
li::first-letter{
    font-size: 150%;
}
p{
    margin-left:15px;
    margin-right:10px;
    font-family: Verdana;
    font-size: 95%;
}
ul {
}
.copyright{
    text-align:center;
    font-size:80%;
}
