body {
    background-color: #5B7FBD;
    font-family: Verdana;
    padding: 0 20px;
    font-size:14px;
    color: #222222;
}
h1{
    color: #222222;
}
p{
    font-weight:lighter;
}
ul{
    list-style-position: inside;
}
.centered{
    text-align:center;
}
.copyright{
    font-size:70%;
    font-style:italic;
}
a:visited{
    color:#800080;
}
