body {
    background-color: #55CBFE;
    font-family: sans-serif;
}
main{
    margin: auto;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
ul{
    list-style-type: none;
    text-align:center;
}
li::first-letter{
    font-size: 155%;
}

