body{
            background-color: #364370;
            font-family:Arial;
}
main{
    margin-top:-10px;
}
nav {
    float:left;
    width:200px;
    height:488px;
    margin-left:55px;
    margin-bottom:0%;
    text-align:center;
    background-color:#B0CEFE;
    padding-top:10px;
}
nav ul{
    list-style-position: inside;
    text-align:center;
    padding-right:40px;
}
article ul{
    list-style-position: inside;
    text-align:center;
    list-style-type: none;
}

article{
    float: left;
    background-color:#5B7FBC;
    /*float:right;*/
    width:480px;
    margin-left:0px;
    padding-right:20px;
    padding-left:20px;

}
h1{
    text-align:center;
    font-size:200%;
}
p{
    text-align:center;
}
p.copyright{
    text-align:center;
}